<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Scan -->
	<context:component-scan
		base-package="com.tracnghiem" />

	<!-- MVC -->
	<mvc:annotation-driven />

	<!-- STATIC RESOURCES -->
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/uploads/**" location="/uploads/" />

	<!-- Transaction -->
	<tx:annotation-driven />

	<!-- View Resolver -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/views/" p:suffix=".jsp" />

	<!-- Interceptor Bean -->
	<bean id="authInterceptor"
		class="com.tracnghiem.interceptor.AuthInterceptor" />

	<bean id="roleInterceptor"
		class="com.tracnghiem.interceptor.RoleInterceptor" />

	<!-- Email Bean -->
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">

		<property name="host" value="smtp.gmail.com" />

		<property name="port" value="465" />

		<property name="username"
			value="#{T(config.MailConfig).USERNAME}" />

		<property name="password"
			value="#{T(config.MailConfig).APP_PASSWORD}" />

		<property name="defaultEncoding" value="utf-8" />

		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.starttls.enable">false</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>

	</bean>
	<!-- Interceptors -->
	<mvc:interceptors>

		<mvc:interceptor>

			<mvc:mapping path="/**" />

			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/hello" />
			<mvc:exclude-mapping path="/auth/login" />
			<mvc:exclude-mapping path="/auth/logout" />
			<mvc:exclude-mapping path="/auth/forgot-password" />
			<mvc:exclude-mapping path="/auth/forgot-password/otp" />
			<mvc:exclude-mapping path="/auth/reset-password" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/uploads/**" />

			<ref bean="authInterceptor" />
		</mvc:interceptor>

		<mvc:interceptor>

			<mvc:mapping path="/**" />

			<mvc:exclude-mapping path="/" />
			<mvc:exclude-mapping path="/hello" />
			<mvc:exclude-mapping path="/auth/login" />
			<mvc:exclude-mapping path="/auth/logout" />
			<mvc:exclude-mapping path="/auth/forgot-password" />
			<mvc:exclude-mapping path="/auth/forgot-password/otp" />
			<mvc:exclude-mapping path="/auth/reset-password" />
			<mvc:exclude-mapping path="/assets/**" />
			<mvc:exclude-mapping path="/uploads/**" />

			<ref bean="roleInterceptor" />

		</mvc:interceptor>

	</mvc:interceptors>
	<!-- CommonsMultipartResolver for file uploads -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- max upload size in bytes (5MB) -->
		<property name="maxUploadSize" value="5242880" />
	</bean>
</beans>

