<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"

    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd

        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd

        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Scan -->
    <context:component-scan base-package="com.tracnghiem"/>

    <!-- MVC -->
    <mvc:annotation-driven/>

    <!-- STATIC RESOURCES -->
    <mvc:resources mapping="/assets/**" location="/assets/" />

    <!-- Transaction -->
    <tx:annotation-driven/>

    <!-- View Resolver -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/views/"
          p:suffix=".jsp"/>

    <!-- Interceptor Bean -->
    <bean id="loginInterceptor"
          class="com.tracnghiem.interceptor.LoginInterceptor"/>

    <!-- Interceptors -->
    <mvc:interceptors>

        <mvc:interceptor>

            <mvc:mapping path="/**"/>

            <mvc:exclude-mapping path="/"/>
            <mvc:exclude-mapping path="/hello"/>
            <mvc:exclude-mapping path="/auth/login"/>
            <mvc:exclude-mapping path="/assets/**"/>

            <ref bean="loginInterceptor"/>

        </mvc:interceptor>

    </mvc:interceptors>

    <!-- CommonsMultipartResolver for file uploads -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes (5MB) -->
        <property name="maxUploadSize" value="5242880" />
    </bean>

</beans>